# Goals:

    - check what is the top 10 popular characters in the last two decades in the comics, cinema and animation.

In [157]:
import pandas as pd
import requests
import json
import os
from bs4 import BeautifulSoup 
import re
from marvel import Marvel
from keys import PUBLIC_KEY, PRIVATE_KEY

# Questions
    1. Which Avenger has more comics
    2. Which Avenger has appeared more in stories
    3. Which Avenger is more popular by the number of data collected

# Characters
    - dataframe:
        - id, name
        - comics: 
            -available
        - series:
            - available    
        - events:
            - available
        - stories:
            - available

In [158]:
marvel = Marvel(PUBLIC_KEY= PUBLIC_KEY, PRIVATE_KEY=PRIVATE_KEY)

In [159]:
characters = marvel.characters

# list of avengers heroes

In [160]:
# Lista dos Vingadores
avengers_heroes = ['Scarlet Witch', 'Wasp', 'Black Widow', 'Hulk', 'Hawkeye', 'Vision', 'Falcon', 'Luke Cage', 'Jessica Jones', 'Black Panther', 'Iron Man', 'Wolverine', 'Storm', 'Iron Patriot', 'Doctor Strange', 'Thor', 'Daredevil', 'Captain America']

# List of Avengers Villains

In [161]:
# Lista de codinomes em inglês de alguns vilões dos Vingadores 
avengers_villains = ['Loki', 'Ultron', 'Grandmaster', 'Living Laser', 'Red Skull', 'Super-Adaptoid', 'Crossbones', 'Madame Masque', 'Beyonder', 'Absorbing Man', 'M.O.D.O.K.', 'Lethal Legion', 'Kang', 'Sinister Six', 'Rhino', 'The Hood', 'Grim Reaper', 'Masters of Evil', 'Skrulls', 'Hela', 'Taskmaster', 'Korvac', 'Juggernaut', 'Klaw', 'A.I.M.', 'U-Foes', 'Thanos', 'Blob']

# List of X-men villains

In [207]:
# Lista de codinomes em inglês de alguns vilões dos X-Men [avengers_heroes, avengers_villains] , [xmen_villains,]
xmen_villains = [
  'Magneto',
  'The Hand',
  'Pyro',
  'Mystique',
  'Gideon',
  'Lady Deathstrike',
  'Sabretooth',
  'Sebastian Shaw',
  'Shadow King',
  'Apocalypse',
  'Exodus',
  'Onslaught',
  'Emma Frost',
  'Avalanche',
  'Silver Samurai',
  'Cassandra Nova',
  'Mastermind',
  'Master Mold',
  'Dark Phoenix',
  'Juggernaut',
  'William Stryker',
  'Selene',
  'Omega Red',
  'Marauders',
  'Bastion',
  'Loki',
  'Ultron',
  'Grandmaster',
  'Living Laser',
  'Red Skull',
  'Super-Adaptoid',
  'Crossbones',
  'Madame Masque',
  'Beyonder',
  'Absorbing Man',
  'M.O.D.O.K.',
  'Lethal Legion',
  'Kang',
  'Sinister Six',
  'Rhino',
  'The Hood',
  'Grim Reaper',
  'Masters of Evil',
  'Skrulls',
  'Hela',
  'Taskmaster',
  'Korvac',
  'Juggernaut',
  'Klaw',
  'A.I.M.',
  'U-Foes',
  'Thanos',
  'Blob'
  ]

# List of X-men heroes

In [163]:
# Lista de codinomes em inglês de alguns heróis dos X-Men 
xmen_heroes = ['Iceman', 'Surge', 'Sunspot', 'Hellion', 'Wolverine', 'Marrow', 'Cannonball', 'Chamber', 'Deadpool', 'Doop', 'Prodigy', 'Strong Guy', 'Jubilee', 'Psylocke', 'Polaris', 'Professor X', 'Hope Summers', 'Storm', 'Emma Frost', 'Forge', 'Multiple Man', 'Bishop', 'Wolfsbane', 'Cypher', 'Warpath', 'Havok', 'Beast', 'Cyclops', 'Cable', 'X-23', 'Longshot', 'Jean Grey', 'Shadowcat', 'Dust', 'Sage', 'Shatterstar', 'Colossus', 'Archangel', 'Anole', 'Fantomex', 'Gambit', 'Rogue', 'Nightcrawler', 'Karma', 'Pixie', 'Elixir', 'Feral', 'Rockslide', 'Domino']

# List of all Marvel characters

In [203]:

marvel_all_characters = [
  'Scarlet Witch',
  'Wasp',
  'Black Widow',
  'Hulk',
  'Hawkeye',
  'Vision',
  'Falcon',
  'Luke Cage',
  'Jessica Jones',
  'Black Panther',
  'Iron Man',
  'Wolverine',
  'Storm',
  'Iron Patriot',
  'Doctor Strange',
  'Thor',
  'Daredevil',
  'Captain America',
  'Iceman',
  'Surge',
  'Sunspot',
  'Hellion',
  'Wolverine',
  'Marrow',
  'Cannonball',
  'Chamber',
  'Deadpool',
  'Doop',
  'Prodigy',
  'Strong Guy',
  'Jubilee',
  'Psylocke',
  'Polaris',
  'Professor X',
  'Hope Summers',
  'Storm',
  'Emma Frost',
  'Forge',
  'Multiple Man',
  'Bishop',
  'Wolfsbane',
  'Cypher',
  'Warpath',
  'Havok',
  'Beast',
  'Cyclops',
  'Cable',
  'X-23',
  'Longshot',
  'Jean Grey',
  'Shadowcat',
  'Dust',
  'Sage',
  'Shatterstar',
  'Colossus',
  'Archangel',
  'Anole',
  'Fantomex',
  'Gambit',
  'Rogue',
  'Nightcrawler',
  'Karma',
  'Pixie',
  'Elixir',
  'Feral',
  'Rockslide',
  'Domino',
  'Magneto',
  'The Hand',
  'Pyro',
  'Mystique',
  'Gideon',
  'Lady Deathstrike',
  'Sabretooth',
  'Sebastian Shaw',
  'Shadow King',
  'Apocalypse',
  'Exodus',
  'Onslaught',
  'Emma Frost',
  'Avalanche',
  'Silver Samurai',
  'Cassandra Nova',
  'Mastermind',
  'Master Mold',
  'Dark Phoenix',
  'Juggernaut',
  'William Stryker',
  'Selene',
  'Omega Red',
  'Marauders',
  'Bastion',
  'Loki',
  'Ultron',
  'Grandmaster',
  'Living Laser',
  'Red Skull',
  'Super-Adaptoid',
  'Crossbones',
  'Madame Masque',
  'Beyonder',
  'Absorbing Man',
  'M.O.D.O.K.',
  'Lethal Legion',
  'Kang',
  'Sinister Six',
  'Rhino',
  'The Hood',
  'Grim Reaper',
  'Masters of Evil',
  'Skrulls',
  'Hela',
  'Taskmaster',
  'Korvac',
  'Juggernaut',
  'Klaw',
  'A.I.M.',
  'U-Foes',
  'Thanos',
  'Blob'
  
  
  ]

In [209]:
#lista herois da marvel
marvel_heroes = [
  'Scarlet Witch',
  'Wasp',
  'Black Widow',
  'Hulk',
  'Hawkeye',
  'Vision',
  'Falcon',
  'Luke Cage',
  'Jessica Jones',
  'Black Panther',
  'Iron Man',
  'Wolverine',
  'Storm',
  'Iron Patriot',
  'Doctor Strange',
  'Thor',
  'Daredevil',
  'Captain America',
  'Iceman',
  'Surge',
  'Sunspot',
  'Hellion',
  'Wolverine',
  'Marrow',
  'Cannonball',
  'Chamber',
  'Deadpool',
  'Doop',
  'Prodigy',
  'Strong Guy',
  'Jubilee',
  'Psylocke',
  'Polaris',
  'Professor X',
  'Hope Summers',
  'Storm',
  'Emma Frost',
  'Forge',
  'Multiple Man',
  'Bishop',
  'Wolfsbane',
  'Cypher',
  'Warpath',
  'Havok',
  'Beast',
  'Cyclops',
  'Cable',
  'X-23',
  'Longshot',
  'Jean Grey',
  'Shadowcat',
  'Dust',
  'Sage',
  'Shatterstar',
  'Colossus',
  'Archangel',
  'Anole',
  'Fantomex',
  'Gambit',
  'Rogue',
  'Nightcrawler',
  'Karma',
  'Pixie',
  'Elixir',
  'Feral',
  'Rockslide',
  'Domino'
  ]

In [208]:
# lista de viloes
marvel_villains = [
  'Scarlet Witch',
  'Wasp',
  'Black Widow',
  'Hulk',
  'Hawkeye',
  'Vision',
  'Falcon',
  'Luke Cage',
  'Jessica Jones',
  'Black Panther',
  'Iron Man',
  'Wolverine',
  'Storm',
  'Iron Patriot',
  'Doctor Strange',
  'Thor',
  'Daredevil',
  'Captain America',
  'Iceman',
  'Surge',
  'Sunspot',
  'Hellion',
  'Wolverine',
  'Marrow',
  'Cannonball',
  'Chamber',
  'Deadpool',
  'Doop',
  'Prodigy',
  'Strong Guy',
  'Jubilee',
  'Psylocke',
  'Polaris',
  'Professor X',
  'Hope Summers',
  'Storm',
  'Emma Frost',
  'Forge',
  'Multiple Man',
  'Bishop',
  'Wolfsbane',
  'Cypher',
  'Warpath',
  'Havok',
  'Beast',
  'Cyclops',
  'Cable',
  'X-23',
  'Longshot',
  'Jean Grey',
  'Shadowcat',
  'Dust',
  'Sage',
  'Shatterstar',
  'Colossus',
  'Archangel',
  'Anole',
  'Fantomex',
  'Gambit',
  'Rogue',
  'Nightcrawler',
  'Karma',
  'Pixie',
  'Elixir',
  'Feral',
  'Rockslide',
  'Domino'
  ]

In [167]:
# criando dataframe 
chacter_df = pd.DataFrame(columns=['ID', 'Name', 'Comics', 'Series', 'Events', 'Stories'])
chacter_df

Empty DataFrame
Columns: [ID, Name, Comics, Series, Events, Stories]
Index: []

# Function to get charactere names for a list and look for their names in the API returning a dataframe.

In [170]:
# funcao para receber personagens
def get_character(ave):
    list_char = []
    character_df = pd.DataFrame(columns=['ID', 'Name', 'Comics', 'Series', 'Events', 'Stories'])
    characters = marvel.characters
    for c in ave:
        avengers = characters.all(name=c)['data']['results']
        for char in avengers:
            char_ = {'ID': char['id'], 'Name': char['name'], 'Comics': char['comics']['available']}
            char_['Series'] = char['series']['available']
            char_['Events'] = char['events']['available']
            char_['Stories'] = char['stories']['available']
            list_char.append(char_)
    character_df = pd.DataFrame(list_char)
    return character_df

In [204]:
marvel_all_characters_df = get_character(marvel_all_characters)
marvel_all_characters_df["Name"]

0      Scarlet Witch
1               Wasp
2        Black Widow
3               Hulk
4            Hawkeye
           ...
116             Klaw
117           A.I.M.
118           U-Foes
119           Thanos
120             Blob
Name: Name, Length: 121, dtype: object

In [205]:
marvel_all_characters_df

          ID           Name  Comics  Series  Events  Stories
0    1009562  Scarlet Witch     580     197      17      650
1    1009707           Wasp     433     168      14      491
2    1009189    Black Widow     623     240      16      705
3    1009351           Hulk    1789     545      26     2679
4    1009338        Hawkeye     671     222      19      724
..       ...            ...     ...     ...     ...      ...
116  1009390           Klaw      58      30       2       62
117  1009144         A.I.M.      53      36       0       57
118  1011315         U-Foes       5       4       1        7
119  1009652         Thanos     296     143       8      322
120  1009199           Blob      78      33       7       81

[121 rows x 6 columns]

# Taking the list os characters to check is any of them are duplicated

In [172]:
def check_valid_names(list_,df_):
    valores_comuns = list(set(list_).intersection(set(df_)))
    return valores_comuns

In [173]:
checked_avengers = check_valid_names(avengers_heroes, avengers_all_characters_df['Name'])
print(checked_avengers)
print(len(checked_avengers))

['Scarlet Witch', 'Wasp', 'Black Widow', 'Hawkeye', 'Hulk', 'Vision', 'Falcon', 'Luke Cage', 'Jessica Jones', 'Black Panther', 'Iron Man', 'Wolverine', 'Storm', 'Iron Patriot', 'Doctor Strange', 'Thor', 'Daredevil', 'Captain America']
18

In [179]:
def joing_teams(h, v):
    new_c = []
    new_c.append(v)
    new_c.append(h)
    return new_c    
#[avengers_heroes, avengers_villains], [xmen_villains, xmen_heroes], [marvel_villains, marvel_heroes]

In [232]:
villains_team = joing_teams(avengers_villains, xmen_villains)

In [231]:
heroes_team = joing_teams(xmen_heroes, avengers_heroes)

In [230]:
marvel_char = joing_teams(marvel_villains, marvel_heroes)

# Taking the list and turning in a dic and separate them by hero and villain

In [196]:
def add_class_hero(x):
    char_ = {'Avengers':[], 'X-Men':[],'X-Men-Avengers':[] }
    char_['Avengers'] = x[0]
    char_['X-Men'] = x[1]
    char_['X-Men-Avengers'] = list(set(x[0]).intersection(set(x[1])))
    return char_

In [197]:
def add_class_villain(x):
    char_ = {'Villain_Avengers':[], 'Villain_X-Men':[]}
    char_['Villain_X-Men'] = x[0]
    char_['Villain_Avengers'] = x[1] 
    return char_

In [227]:
class_hero = add_class_hero(heroes_team)

In [228]:
class_villains = add_class_villain(villains_team)

In [229]:
class_marvel = class_villains.copy()
class_marvel.update(class_hero)

In [225]:
def transfer_class_df(x):
    for key, value in class_marvel.items():
        if x in value:
            return key

In [226]:
marvel_all_characters_df["Class"] = marvel_all_characters_df["Name"].apply(transfer_class_df)
marvel_all_characters_df

          ID           Name  Comics  Series  Events  Stories             Class
0    1009562  Scarlet Witch     580     197      17      650          Avengers
1    1009707           Wasp     433     168      14      491          Avengers
2    1009189    Black Widow     623     240      16      705          Avengers
3    1009351           Hulk    1789     545      26     2679          Avengers
4    1009338        Hawkeye     671     222      19      724          Avengers
..       ...            ...     ...     ...     ...      ...               ...
116  1009390           Klaw      58      30       2       62  Villain_Avengers
117  1009144         A.I.M.      53      36       0       57  Villain_Avengers
118  1011315         U-Foes       5       4       1        7  Villain_Avengers
119  1009652         Thanos     296     143       8      322  Villain_Avengers
120  1009199           Blob      78      33       7       81  Villain_Avengers

[121 rows x 7 columns]