# Goals:

    - check what is the top 10 popular characters in the last two decades in the comics, cinema and animation.

In [71]:
import pandas as pd
import requests
import json
import os
from bs4 import BeautifulSoup 
import re
from marvel import Marvel
from keys import PUBLIC_KEY, PRIVATE_KEY

# Questions
    1. Which Avenger has more comics
    2. Which Avenger has appeared more in stories
    3. Which Avenger is more popular by the number of data collected

# Characters
    - dataframe:
        - id, name
        - comics: 
            -available
        - series:
            - available    
        - events:
            - available
        - stories:
            - available

In [72]:
marvel = Marvel(PUBLIC_KEY= PUBLIC_KEY, PRIVATE_KEY=PRIVATE_KEY)

In [73]:
characters = marvel.characters

In [74]:
avengers_characters = [
    "Captain America",
    "Iron Man",
    "Thor",
    "Hulk",
    "Black Widow",
    "Hawkeye",
    "Ant-Man",
    "Wasp",
    "Scarlet Witch",
    "Vision",
    "Black Panther",
    "Captain Marvel",
    "War Machine",
    "Falcon",
    "Ms. Marvel",
    "Doctor Strange",
    "Luke Cage",
    "Jessica Jones",
    "Daredevil",
    "Spider-Man",
    "Wolverine",
    "Storm",
    "Ant-Man",
    "She-Hulk",
    "Phoenix",
    "Spider-Man",
    "Ironheart",
    "Iron Patriot",
    "The Punisher",
]

In [81]:
# Lista dos Vingadores
avengers_names = [
    "Captain America",
    "Iron Man",
    "Thor",
    "Hulk",
    "Black Widow",
    "Hawkeye",
    "Ant-Man",
    "Wasp",
    "Scarlet Witch",
    "Vision",
    "Black Panther",
    "Captain Marvel",
    "War Machine",
    "Falcon",
    "Ms. Marvel",
    "Doctor Strange",
    "Luke Cage",
    "Jessica Jones",
    "Daredevil",
    "Spider-Man",
    "Wolverine",
    "Storm",
    "Ant-Man",
    "She-Hulk",
    "Phoenix",
    "Spider-Man",
    "Ironheart",
    "Iron Patriot",
    "The Punisher",
    "Falcon"
]

# Lista dos X-Men
xmen_names = [
    "Professor X",
    "Cyclops",
    "Jean Grey",
    "Beast",
    "Iceman",
    "Angel",
    "Wolverine",
    "Storm",
    "Colossus",
    "Nightcrawler",
    "Shadowcat",
    "Rogue",
    "Gambit",
    "Psylocke",
    "Deadpool",
    "Emma Frost",
    "Havok",
    "Polaris",
    "Cable",
    "X-23",
    "Bishop",
    "Forge",
    "Jubilee",
    "Archangel"
]

In [86]:
# Lista de codinomes em inglês de alguns personagens icônicos da Marvel Comics
marvel_names = [
    "Spider-Man",
    "Iron Man",
    "Captain America",
    "Thor",
    "Hulk",
    "Black Widow",
    "Hawkeye",
    "Black Panther",
    "Doctor Strange",
    "Wolverine",
    "Deadpool",
    "Captain Marvel",
    "Ant-Man",
    "Wasp",
    "Scarlet Witch",
    "Vision",
    "Falcon",
    "War Machine",
    "Ms. Marvel",
    "Luke Cage",
    "Jessica Jones",
    "Daredevil",
    "Iron Fist",
    "Punisher",
    "Ghost Rider",
    "Havok",
    "Cyclops",
    "Jean Grey",
    "Storm",
    "Colossus",
    "Nightcrawler",
    "Gambit",
    "Rogue",
    "Beast",
    "Iceman",
    "Angel",
    "X-23",
    "Cable",
    "Bishop",
    "Emma Frost",
    "Jubilee",
    "Professor X",
    "Magneto",
    "Loki",
    "Red Skull",
    "Green Goblin",
    "Doctor Doom",
    "Thanos",
    "Galactus",
    "Silver Surfer",
    "The Thing",
    "Invisible Woman",
    "Human Torch",
    "Mr. Fantastic",
    "She-Hulk",
    "Namor",
    "Winter Soldier",
    "Vision",
    "Quicksilver",
    "Star-Lord",
    "Gamora",
    "Drax the Destroyer",
    "Rocket Raccoon",
    "Groot",
    "Mantis",
    "Adam Warlock",
    "Nova",
    "Captain Marvel (Carol Danvers)",
    "Black Bolt",
    "Medusa",
    "Lockjaw",
    "Moon Knight",
    "Shang-Chi",
    "Kate Bishop",
    "America Chavez",
    "Miles Morales",
    "Riri Williams",
    "Squirrel Girl",
    "Amadeus Cho",
    "Karnak",
    "Crystal",
    "Thundra",
    "Beta Ray Bill",
    "Sif",
    "Valkyrie",
    "Hercules",
    "Eternals (various)",
    "Power Pack (various)"
]

In [76]:
# criando dataframe 
chacter_df = pd.DataFrame(columns=['ID', 'Name', 'Comics', 'Series', 'Events', 'Stories'])
chacter_df

Empty DataFrame
Columns: [ID, Name, Comics, Series, Events, Stories]
Index: []

In [77]:
# teste para coletar data do personagem
list_char = []
avengers = characters.all(name='iron man')['data']['results']

for char in avengers:
    char_info = {'ID': char['id'], 'Name': char['name'], 'Comics': char['comics']['available']}
    
    # If you want to include other information like series, events, and stories, add them here
    char_info['Series'] = char['series']['available']
    char_info['Events'] = char['events']['available']
    char_info['Stories'] = char['stories']['available']

    list_char.append(char_info)

    print(f"ID: {char['id']}, Name: {char['name']}, Comics: {char['comics']['available']}")
    print(f"Series: {char['series']['available']}")
    print(f"Events: {char['events']['available']}")
    print(f"Stories: {char['stories']['available']}")

chacter_df = pd.DataFrame(list_char)
chacter_df

ID: 1009368, Name: Iron Man, Comics: 2732
Series: 680
Events: 31
Stories: 4057

        ID      Name  Comics  Series  Events  Stories
0  1009368  Iron Man    2732     680      31     4057

In [78]:
# Meu codigo
"""
list_char = []
avengres = characters.all(name='iron man')['data']['results']
for char in avengres:
    list_char.append({'ID':char['id'] , 'Name':char['name'],})
    print (char['id'], char['name'])
for comics in char['comics'].keys():
    list_char.append({'Comics': comics['available']})
    print(f'{k}: {comics}')
    for k, series in char['series'].items():
        print(f'{k}: {series}')
    for k, events in char["events"].items():
        print(f'{k}: {events}')
    for k, stories in char['stories'].items():
        print(f'{k}: {stories}')
list_char
"""

'\nlist_char = []\navengres = characters.all(name=\'iron man\')[\'data\'][\'results\']\nfor char in avengres:\n    list_char.append({\'ID\':char[\'id\'] , \'Name\':char[\'name\'],})\n    print (char[\'id\'], char[\'name\'])\nfor comics in char[\'comics\'].keys():\n    list_char.append({\'Comics\': comics[\'available\']})\n    print(f\'{k}: {comics}\')\n    for k, series in char[\'series\'].items():\n        print(f\'{k}: {series}\')\n    for k, events in char["events"].items():\n        print(f\'{k}: {events}\')\n    for k, stories in char[\'stories\'].items():\n        print(f\'{k}: {stories}\')\nlist_char\n'

# Function to get charactere names for a list and look for their names in the API returning a dataframe.

In [79]:
# funcao para receber personagens
def get_character(ave):
    list_char = []
    character_df = pd.DataFrame(columns=['ID', 'Name', 'Comics', 'Series', 'Events', 'Stories'])
    characters = marvel.characters
    for c in ave:
        avengers = characters.all(name=c)['data']['results']
        for char in avengers:
            char_info = {'ID': char['id'], 'Name': char['name'], 'Comics': char['comics']['available']}
            char_info['Series'] = char['series']['available']
            char_info['Events'] = char['events']['available']
            char_info['Stories'] = char['stories']['available']
            list_char.append(char_info)
    character_df = pd.DataFrame(list_char)
    return character_df

In [83]:
xmen_df = get_character(xmen_names)
xmen_df

         ID          Name  Comics  Series  Events  Stories
0   1009504   Professor X     437     142      15      442
1   1009257       Cyclops     990     291      29     1106
2   1009327     Jean Grey     241     111      13      261
3   1009496     Jean Grey      61      24       0       60
4   1009175         Beast     834     222      30      928
5   1009362        Iceman     597     173      22      690
6   1009718     Wolverine    2677     741      42     3692
7   1009629         Storm     891     231      30     1033
8   1009243      Colossus     708     170      27      866
9   1009472  Nightcrawler     647     195      17      762
10  1009574     Shadowcat      15      11       0       15
11  1009546         Rogue     658     170      25      812
12  1009313        Gambit     527     136      14      655
13  1009512      Psylocke     445     105      21      516
14  1009268      Deadpool     916     260      15     1140
15  1009310    Emma Frost     444     149      17      495
16  1009337         Havok     360     100      14      404
17  1009499       Polaris     284      74      10      328
18  1009214         Cable     453     127      12      620
19  1009722          X-23     285      72       5      300
20  1009182        Bishop     320      74       8      401
21  1009309         Forge     159      49       9      179
22  1009381       Jubilee     278      68      10      315
23  1009159     Archangel     563     140      19      624

In [84]:
avengers_df = get_character(avengers_names)
avengers_df

         ID             Name  Comics  Series  Events  Stories
0   1009220  Captain America    2518     723      30     3679
1   1009368         Iron Man    2732     680      31     4057
2   1009664             Thor    1891     555      27     2797
3   1009351             Hulk    1788     545      26     2678
4   1009189      Black Widow     623     240      16      705
5   1009338          Hawkeye     671     222      19      724
6   1009707             Wasp     433     168      14      491
7   1009562    Scarlet Witch     580     197      17      650
8   1009697           Vision     578     167      15      656
9   1009187    Black Panther     760     257      17      981
10  1009297           Falcon     207      77       7      239
11  1009282   Doctor Strange     946     328      22     1175
12  1009215        Luke Cage     417     146      15      434
13  1009378    Jessica Jones     171      59       9      186
14  1009262        Daredevil    1266     329      17     1966
15  1009718        Wolverine    2677     741      42     3692
16  1009629            Storm     891     231      30     1033
17  1009487     Iron Patriot       6       5       3        7
18  1009297           Falcon     207      77       7      239

In [87]:
marvel_df = get_character(marvel_names)
marvel_df

         ID             Name  Comics  Series  Events  Stories
0   1009368         Iron Man    2732     680      31     4057
1   1009220  Captain America    2518     723      30     3679
2   1009664             Thor    1891     555      27     2797
3   1009351             Hulk    1788     545      26     2678
4   1009189      Black Widow     623     240      16      705
..      ...              ...     ...     ...     ...      ...
64  1009385           Karnak     105      50       8      114
65  1009255          Crystal     124      56       8      137
66  1011304          Thundra      16      11       2       20
67  1009588              Sif     173      49       2      182
68  1009343         Hercules     306     111      12      350

[69 rows x 6 columns]