# Goals:

    - check what is the top 10 popular characters in the last two decades in the comics, cinema and animation.

In [1]:
import pandas as pd
import requests
import json
import os
from bs4 import BeautifulSoup 
import re
from marvel import Marvel
from keys import PUBLIC_KEY, PRIVATE_KEY

C:\Users\leona\AppData\Local\Temp\ipykernel_20380\3848940922.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

# Questions
    1. Wich Avenger has more comics
    2. Wich Avenger has apperded more in stories
    3. Wich Avenger is more popular by the number of data collected

# Characters
    - dataframe:
        - id, name
        - comics: 
            -available
        - series:
            - available    
        - events:
            - available
        - stories:
            - available

In [2]:
marvel = Marvel(PUBLIC_KEY= PUBLIC_KEY, PRIVATE_KEY=PRIVATE_KEY)

In [3]:
characters = marvel.characters

In [4]:
avengers_characters = [
    "Captain America",
    "Iron Man",
    "Thor",
    "Hulk",
    "Black Widow",
    "Hawkeye",
    "Ant-Man",
    "Wasp",
    "Scarlet Witch",
    "Vision",
    "Black Panther",
    "Captain Marvel",
    "War Machine",
    "Falcon",
    "Ms. Marvel",
    "Doctor Strange",
    "Luke Cage",
    "Jessica Jones",
    "Daredevil",
    "Spider-Man",
    "Wolverine",
    "Storm",
    "Ant-Man",
    "She-Hulk",
    "Phoenix",
    "Spider-Man",
    "Ironheart",
    "Iron Patriot",
    "The Punisher",
]

In [41]:
# criando dataframe 
chacter_df = pd.DataFrame(columns=['ID', 'Name', 'Comics', 'Series', 'Events', 'Stories'])
chacter_df

Empty DataFrame
Columns: [ID, Name, Comics, Series, Events, Stories]
Index: []

In [85]:
# teste para coletar data do personagem
list_char = []
avengres = characters.all(name='iron man')['data']['results']
for char in avengres:
    list_char.append({'ID':char['id'] , 'Name':char['name'],})
    print (char['id'], char['name'])
for comics in char['comics'].keys():
    list_char.append({'Comics': comics['available']})
    print(f'{k}: {comics}')
    for k, series in char['series'].items():
        print(f'{k}: {series}')
    for k, events in char["events"].items():
        print(f'{k}: {events}')
    for k, stories in char['stories'].items():
        print(f'{k}: {stories}')
list_char

1009368 Iron Man

TypeError: string indices must be integers, not 'str'

Empty DataFrame
Columns: [ID, Name, Comics, Series, Events, Stories]
Index: []